@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

:root {
    --cor0:#B30015;
    --cor1:#FF4136;
    --cor2:#333333;
    --fonte-holly:'Holtwood One SC', serif;
    --fonte-padrao: arial, sans-serif;
}

header {
    display: flex;
    background-color: var(--cor0);
    height: 50px; 
    justify-content: center; 
    align-items: center;
    font-family: var(--fonte-holly);
    font-size: xx-large;
    color: white;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.349);
}



