@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0;
}

header {
    display: flex;
    background-color: black;
    color: white;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-style: bolder 144px 'Passion One', sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


